html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #f0f9ff;
  overflow-x: hidden;
  padding: 0;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

.cardInfo {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 24px;
  &-body {
    font-size: 14px;
  }
}

ul {
  li {
    margin: 8px 0;
  }
}
